@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

* {
  box-sizing: border-box;
  align-self: center;
}

.App {
  display: grid;
  grid-template-rows: 25vh 75vh;
  background-color: #FAEBCA;
}

header {
  grid-row: 1 / 2;
  display: flex;
  height: 66%;
  justify-content: center;
  padding: 10px;
  background-color: #FAEBCA;
  border: solid #E1BA85 5px;
  border-left: none;
  border-right: none;
}

header div {
  font-family: 'Fascinate', cursive;
  color: #83401F;
  font-size: 3em;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.dodo-logo {
  max-height: 100%;
}

main {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.welcome-message {
  color: black;
}

.main-image {
  width: 50%;
  max-width: 250px;
  margin-bottom: 30px;
}

a {
  margin: 5px;
}

button, input, a {
  background-color: transparent;
  padding: 10px 15px;
  border: solid 2px #83401F;
  color: #83401F;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

header button {
  color: #733013;
  border-color: #733013;
}

.list-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 66%;
  overflow: auto;
  height: fit-content;
  margin: 20px;
  align-items: center;
  color: #733013;
}

.list-container::-webkit-scrollbar {
  display: none;
}

p {
  background-color: #83401F;
  color: white;
  width: 100%;
  border-bottom: solid 2px white;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.completed-item {
  background-color: dimgray;
  color: darkgray;
}